.nombreContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-right: solid 1px #fff;
    padding-right: 20px;
}
.nombreContainer td {
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.jornadaItem span {
    display: flex;
    align-items: center;
}
.jornadaItem-puesto {
    margin-right: 5px;
}
.nombreContainer .jornadaItem .jornadaItem-puesto {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombreContainer .jornadaItem:nth-child(10) .jornadaItem-puesto, .nombreContainer .jornadaItem:nth-child(11) .jornadaItem-puesto, .nombreContainer .jornadaItem:nth-child(12) .jornadaItem-puesto  {
    background: red;
    border-radius: 21px;
}
.nombreContainer .jornadaItem:nth-child(10) .jornadaItem-puesto {
    background: #ffc600;
}
.nombreContainer .jornadaItem:nth-child(10) .jornadaItem-puesto {
    letter-spacing: 0px;
}

@media (max-width: 480px) {
    .nombreContainer td {
        font-size: 10px;
    }
    .nombreContainer {
        padding-right: 5px;
    }
    .jornada-data-element {
        width: 45px;
    }
  }